<template>
	<div style="position: relative">
		<editor :api-key="key" :init="tinymceInit" v-model="valueEditor"/>
	</div>
</template>	
<script>
	import Editor from '@tinymce/tinymce-vue'

	export default {
		name: 'TinyEditor',
		components: {
			Editor
		},
		props: {
			value: {
	      type: String,
	      default: '',
	    },
	    placeholder: {
	    	type: String,
	      default: '',
	    },
	    height: {
	    	type: Number,
	    	default: 200
      }
		},
		data() {
			return {
        hasChange: false,
        hasInit: false,
				key: process.env.VUE_APP_TINYMCE_KEY,
        tinymceInit: {},
        valueEditor: ''
			}
		},
		created() {
      this.init()
    },
    deactivated() {
      this.destroyTinymce();
    },
    destroyed() {
      this.destroyTinymce();
    },
	  watch: {
	  	value(val) {
        if (!val) {
          this.valueEditor = val;
        }
	  	}
	  },
		methods: {
			init() {
				const self = this
				this.tinymceInit = {
					max_chars: 10000,
					placeholder: this.placeholder,
      		height: this.height,
      		menubar: false,
      		branding: false,
      		statusbar: false,
          forced_root_block: '',
          entity_encoding : "raw",
      		external_plugins: {
    				'tiny_mce_wiris' : '/mathtype-tinymce5/plugin.min.js'
  				},
		      plugins: [
		        'advlist autolink lists image charmap print preview anchor',
		        'searchreplace visualblocks code fullscreen',
		        'insertdatetime media table paste code'
		      ],
          toolbar: 'tiny_mce_wiris_formulaEditor | tiny_mce_wiris_formulaEditorChemistry',
          init_instance_callback: editor => {
            if (self.value) {
              editor.setContent(self.value);
            }
            self.hasInit = true;
            editor.on('NodeChange Change KeyUp SetContent', () => {
              this.hasChange = true;
              this.$emit('input', editor.getContent());
            });
          },
      		setup: function (editor) {
	          editor.on('input', function (e) {
	            self.update(editor.getContent());
            })
            editor.on('change', function (e) {
	            self.update(editor.getContent());
	          })
	          editor.on('keydown', function (e) {
	            if (tinymce.activeEditor.getContent().length + 1 > this.settings.max_chars) {
                e.preventDefault();
                e.stopPropagation();
                return false;
	            }
	            return true;
		        });
		        editor.on('paste',function(e){
		          setTimeout(function(){
		            let content = tinymce.activeEditor.getContent();
		            content = self.strip_tags(content, 'p')
		            tinymce.activeEditor.setContent(content.trim().substring(0, 10000));
		          }, 200);  
		        });
	        }
    		}
			},
			update(value) {
        let valueReplace = value.replace(/&nbsp;/ig, " ");
        valueReplace = valueReplace.replace(/<br \/>/ig, "<br/>");
        this.$emit('input', valueReplace.trim());
	    },
	    strip_tags(str, allowed_tags){
		    let key = '' 
		    let allowed = false;
		    let matches = [];    
		    let allowed_array = [];
		    let allowed_tag = '';
		    let i = 0;
		    let k = '';
		    let html = '';

		    // remove all attr
		    str = str.replace(/<([a-z][a-z0-9]*)[^>]*?(\/?)>/gi, '<$1$2>');
		    
		    if (allowed_tags) {
		      allowed_array = allowed_tags.match(/([a-zA-Z0-9]+)/gi);
		    }
		    str += '';

		    matches = str.match(/(<\/?[\S][^>]*>)/gi);
		    for (key in matches) {
		      if (isNaN(key)) {
		        continue;
		      }
		      html = matches[key].toString();
		      allowed = false;
		      for (k in allowed_array) {
		        allowed_tag = allowed_array[k];
		        i = -1;
		        if (i != 0) { i = html.toLowerCase().indexOf('<'+allowed_tag+'>');}
		        if (i != 0) { i = html.toLowerCase().indexOf('<'+allowed_tag+' ');}
		        if (i != 0) { i = html.toLowerCase().indexOf('</'+allowed_tag)   ;}
		        if (i == 0) {
		        	allowed = true;
		          break;
		        }
		      }
		      if (!allowed) {
		        str = this.replacer(html, "", str);
		      }
		    }
		    // remove p to br
		    str = str.replace(/<p>/gi, '<br/>');
		    str = str.replace(/<\/p>/gi, '');
		    return str;
			},
			replacer (search, replace, str) {
		    return str.split(search).join(replace);
      },
      destroyTinymce() {
        if (tinymce) {
          this.hasChange = false;
          this.hasInit = false;
          tinymce.remove();
        }
      },
		}
	};
</script>
<style rel="stylesheet/scss" lang="scss">
.formula {
	position: absolute;
	z-index: 9;
	right: 8px;
	top: 8px;
	cursor: pointer;
}
.formula-mathjax {
  padding-bottom: 20px;
  .preview-mathjax {
    height: 140px;
    overflow-y: auto;
    background: #d0e3e9;
    margin: 0 0 15px 0;
    padding: 5px;
    p {
    	font-weight: bold;
    }
	}
	a {
    border: 1px solid #e1e1e1;
    display: inline-block;
    padding: 6px 0 0 0;
    border-radius: 8px;
    width: 60px;
    box-shadow: 1px 2px 12px 0px #cccccc96;
    text-align: center;
    margin: 1px;
    height: 38px;
    vertical-align: middle;
    img {
    	width: 24px;
    	height: 24px;
    }
  }
  .insertMathjax {
    margin-top: 15px;
    textarea {
	    padding: 15px;
	    width: calc(100% - 15px);
	    border: 1px solid #e1e1e1;
	    border-radius: 4px;
	    resize: none;
	    min-height: 90px;
		}
	}
}
</style>