<template>
<div class="app-container">
    <div class="filter-container">
        <template>
            <div class="block">
            <el-input v-model="query.keyword" placeholder="Tìm kiếm (tên khoa)" @keyup.enter.native="handleFilter()"></el-input>
            </div>
            <el-button type="danger" size="small" @click="dialogVisible = true">Thêm</el-button>
            <el-button class="search" @click="handleFilter()" type="primary">Tìm kiếm</el-button>
        </template>
    </div>

    <el-table v-loading="loading" :data="list" border fit highlight-current-row style="width: 100%">
        <el-table-column align="center" label="STT" width="50">
            <template slot-scope="scope">
                <span>{{ (query.currentPage - 1) * query.rowsPerPage + scope.$index + 1 }}</span>
            </template>
        </el-table-column>

        <el-table-column label="avatar" width="200" align="center">
            <template slot-scope="scope">
                <img :src="scope.row.avatar" alt="" style="width: 50px; height: 50px">
            </template>
        </el-table-column>

        <el-table-column label="Tên khoa" width="900">
            <template slot-scope="scope">
                <span>{{ scope.row.name }}</span>
                <div class="title-info">
                    <el-tag type="info">
                        ID: {{ scope.row.id }}
                    </el-tag>
                </div>
            </template>
        </el-table-column>

        <el-table-column label="Slug" width="200">
            <template slot-scope="scope">
                <span>{{ scope.row.slug }}</span>
            </template>
        </el-table-column>

        <el-table-column align="center" label="Trạng thái" width="150">
            <span>Hoạt động</span>
        </el-table-column>

        <el-table-column label="Tác vụ" align="center" width="300">
            <template slot-scope="scope">
                <el-button type="danger" size="small" @click="deleteFaculty(scope.row.id)">Xóa</el-button>
            </template>
        </el-table-column>
    </el-table>
    <pagination v-show="total>0" :total="total" :page.sync="query.currentPage" :limit.sync="query.rowsPerPage" @pagination="getList" />
    <el-dialog title="Thêm khoa" :visible.sync="dialogVisible" :close-on-click-modal="false" @closed="dialogEdit=false">
      <div class="form-container">
        <el-form ref="editForm" :model="faculty" :rules="rules" label-position="left" label-width="150px">
          <el-form-item label="Tên khoa" prop="name">
            <el-input v-model="faculty.name" :maxlength="255"/>
          </el-form-item>
          <el-form-item label="Slug" prop="slug">
            <el-input v-model="faculty.slug" :maxlength="50"/>
          </el-form-item>
          <el-form-item label="Ảnh" prop="image">
            <Upload v-model="faculty.image" :action="actionUploadImage" />
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="handleCancel">
            Hủy
          </el-button>
          <el-button type="primary" @click="saveForm">
            Lưu
          </el-button>
        </div>
      </div>
    </el-dialog>
</div>
</template>

<script>
import Pagination from "@/components/Pagination";
import Resource from "@/api/resource";
import waves from "@/directive/waves"; // Waves directive
import Upload from '@/components/Upload/SingleImage'
import {
    isLogged
} from "@/utils/auth";
import {
    validString
} from '@/utils';
import CountTo from 'vue-count-to';
import readXlsxFile from 'read-excel-file'

const facultyResourceApi = new Resource("faculty");
const createFacultyResourceApi = new Resource("faculty/create");
export default {
    components: {
        Pagination,
        CountTo,
        Upload
    },
    directives: {
        waves
    },
    data() {
        return {
            list: null,
            total: 0,
            totalVerrify: 0,
            loading: true,
            query: {
                currentPage: 1,
                rowsPerPage: 15,
                sort: "createdAt",
                keyword: '',
                status: '',
            },
            fileList: [],
            listStatus: [{
                    key: 0,
                    value: "Chưa duyệt"
                },
                {
                    key: 1,
                    value: "Đã duyệt"
                },
            ],
            userDetail: {
                uuid: "",
                skype: "",
                facebook: "",
                address: "",
                birthDay: "",
                gender: "",
            },
            dialogVisible: false,
            uuid: null,
            listTeacher: null,
            faculty: {
                name: '',
                slug: '',
                image: ''
            },
            actionUploadImage: '',
            rules: {
                name: [{ required: true, message: 'Tên khoa bắt buộc nhập', trigger: 'blur' }],
                slug: [{ required: true, message: 'Slug bắt buộc nhập', trigger: 'blur' }],
                image: [{ required: true, message: 'Ảnh khoa bắt buộc nhập', trigger: 'blur' }]
            },
        };
    },
    created() {
        this.getList();
        this.actionUploadImage = process.env.VUE_APP_BASE_API + 'upload/image';
    },
    computed: {

    },
    methods: {
        async getList() {
            this.loading = true;
            const {
                data,
                total
            } = await facultyResourceApi.list(this.query);
            this.list = data;
            if (data) {
                this.total = total;
            }
            this.loading = false;
        },
        handleFilter() {
            this.getList();
        },
        detailUser(data, uuid) {
            this.uuid = uuid;
            this.userDetail = data;
            this.dialogVisible = true;
        },
        deleteFaculty(id) {
            let data = facultyResourceApi.destroy(id).then(response => {
                if(response.status == 200)
                {
                    this.$notify({
                        title: "Thành công",
                        message: "Xóa khoa thành công.",
                        type: "success",
                    });            
                    this.getList();    
                }
            });
        },
        handleClose(done) {
            this.$confirm('Bạn có chắc chắn muốn đóng?')
                .then(_ => {
                    done();
                })
                .catch(_ => {});
        },
        handleCancel(){
            this.dialogVisible=false;
            this.resetForm;
        },
        saveForm(){
            let data = createFacultyResourceApi.store(this.faculty).then(response => {
                if(response.status == 200)
                {
                    this.dialogVisible = false;
                    this.$notify({
                        title: "Thành công",
                        message: "Thêm khoa thành công.",
                        type: "success",
                    });
                    this.resetForm();
                    this.getList();
                }
            });
        },
        resetForm()
        {
            this.faculty.name = '';
            this.faculty.slug = '';
            this.faculty.image = '';
        }
    },
};
</script>

<style lang="scss" scoped>
.filter-container {
    display: flex;

    .search {
        height: 40px;
        margin-right: 30px;
    }
}

.panel-group {
    margin-top: 18px;

    .card-panel-col {
        margin-bottom: 30px;
    }

    .card-panel {
        padding-bottom: 25px;
        cursor: pointer;
        font-size: 12px;
        position: relative;
        overflow: hidden;
        color: #000;
        background: #fff;
        box-shadow: 4px 4px 40px rgba(0, 0, 0, .05);
        border-color: rgba(0, 0, 0, .05);

        &:hover {
            .card-panel-icon-wrapper {
                color: #fff;
            }

            .icon-people {
                background: #40c9c6;
            }

            .icon-message {
                background: #36a3f7;
            }

            .icon-money {
                background: #f4516c;
            }

            .icon-shopping {
                background: #34bfa3
            }
        }

        .icon-people {
            color: #40c9c6;
        }

        .icon-message {
            color: #36a3f7;
        }

        .icon-money {
            color: #f4516c;
        }

        .icon-shopping {
            color: #34bfa3
        }

        .card-panel-icon-wrapper {
            float: left;
            margin: 14px 0 0 14px;
            padding: 16px;
            transition: all 0.38s ease-out;
            border-radius: 6px;
        }

        .card-panel-icon {
            float: left;
            font-size: 48px;
        }

        .card-panel-description {
            float: left;
            font-weight: bold;
            margin: 25px 0 20px 15px;

            .card-panel-text {
                line-height: 18px;
                color: #000;
                font-size: 16px;
                margin-bottom: 12px;
            }

            .card-panel-num {
                font-size: 20px;
            }
        }

        .card-panel-detail {
            float: left;
            width: 100%;
            padding: 0 15px;
            margin-bottom: 5px;
        }

        .el-tag {
            width: 100% !important;
            text-align: center !important;
        }
    }
}

.no-margin-top {
    margin-top: 0;
}

.search {
    margin-left: 15px;
}

.block {
    display: inline-block;
    //float: left;
    margin-right: 20px;
}

.blue {
    color: green;
}

.red {
    color: red;
}

.add-value {
    text-align: right;
}

.list-detail .item {
    margin-bottom: 10px;

    .label {
        display: inline-block;
        width: 100px;
    }

    img {
        max-width: 100%;
        display: inline-block;
    }
}
</style><style lang="scss">
.form-value {
    .el-input__inner {
        margin-bottom: 10px;
    }
}

.claim td .el-button {
    margin-left: 0;
}
</style>
