<template>
  <div class="app-container claim">

    <div class="filter-container">
      <template>
        <div class="block">
            <el-input size="small" v-model="query.actionName" placeholder="Tên nhiệm vụ ..."></el-input>
        </div>
        <div class="block">
            <el-input style="width: 190px;" size="small" v-model="query.actionCode" placeholder="Mã nhiệm vụ ..."></el-input>
        </div>
        <el-select style="width: 170px;" size="small" v-model="query.pointType" placeholder="- Kiểu point -">
            <el-option
              v-for="item in pointTypeLst"
              :key="item.id"
              :label="item.description"
              :value="item.id">
            </el-option>
        </el-select>&nbsp;
        <el-select style="width: 160px;" size="small" v-model="query.effectType" placeholder="Hành động">
            <el-option label="Tất cả hành động" value="-1"></el-option>
            <el-option label="Cộng điểm" value="POINT_ADD"></el-option>
            <el-option label="Trừ điểm" value="POINT_MINUS"></el-option>
        </el-select>&nbsp;
        <el-select style="width: 150px;" size="small" v-model="query.active" placeholder="Trạng thái">
            <el-option label="Tất cả trạng thái" value="-1"></el-option>
            <el-option label="Hoạt động" value="1"></el-option>
            <el-option label="Không hoạt động" value="0"></el-option>
        </el-select>
        <el-button size="small" class="search" @click="filter()" type="primary">Tìm kiếm</el-button>
        <el-button size="small" class="search" @click="handleDetail(null)" type="primary">Thêm mới</el-button>
      </template>
    </div>

    <el-table v-loading="loading" :data="actionList" border fit highlight-current-row style="width: 100%; font-size: 12px;">
      <el-table-column align="center" label="STT" width="45">
        <template slot-scope="scope">
          <span>{{ scope.$index + 1}}</span>
        </template>
      </el-table-column>
      
      <el-table-column label="Tên nv" >
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Mã nv" width="190">
        <template slot-scope="scope">
          <span style="font-size: 11px;">{{ scope.row.code }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Kiểu point" width="120">
        <template slot-scope="scope">
          <span>{{ scope.row.pointTypeName }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Hành động" width="100">
        <template slot-scope="scope">
          <span>{{ scope.row.effectType === 'POINT_ADD' ? 'Cộng điểm' : 'Trừ điểm' }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Số tác động" width="100">
        <template slot-scope="scope">
          <span>{{ scope.row.effectNumber }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Cập nhật cuối" width="120">
        <template slot-scope="scope">
          <span>{{ scope.row.lastUpdatedAt | formatDate }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Trạng thái"  align="center" width="115">
        <template slot-scope="scope">
          <span v-if="scope.row.isActive == 1" class="blue">Hoạt động</span>
          <span v-else class="red">Không hoạt động</span>
        </template>
      </el-table-column>

      <el-table-column label=""  align="center" width="45">
        <template slot-scope="scope">
          <el-button type="text" @click="handleDetail(scope.row)">Sửa</el-button>
        </template>
      </el-table-column>

    </el-table>
    <pagination v-show="total>0" :page-size="20" :total="total" :page.sync="query.currentPage"
     :limit.sync="query.rowsPerPage" @pagination="getList" />
      <template>
        <el-dialog title="Thêm/sửa thông tin" :visible.sync="dialogVisible" width="30%">
          <label>Tên nv</label>
            <el-input v-model="actionDetail.name" placeholder="Tên nhiệm vụ ..."></el-input>
          <br /><br />
          <label>Mã nv</label>
            <el-input :disabled="actionDetail.id!==null" v-model="actionDetail.code" placeholder="Mã nhiệm vụ ..."></el-input>
          <br /><br />
          <label>Kiểu point</label><br />
            <el-select :disabled="actionDetail.id!==null" v-model="actionDetail.pointTypeId" placeholder="- Chọn kiểu point -">
              <el-option
                v-for="item in pointTypeLst"
                :key="item.id"
                :label="item.description"
                :value="item.id">
              </el-option>
            </el-select>
          <br /><br />
          <label>Hành động:</label><br />
            <el-select v-model="actionDetail.effectType" placeholder="- Chọn hành động -">
                <el-option label="Cộng điểm" value="POINT_ADD"></el-option>
                <el-option label="Trừ điểm" value="POINT_MINUS"></el-option>
            </el-select>
          <br /><br />
          <label>Số tác động</label>
            <el-input  v-model="actionDetail.effectNumber" placeholder="Số tác động ..."></el-input>
          <br /><br />
          <label>Mô tả</label>
            <el-input type="textarea" v-model="actionDetail.description" placeholder="Mô tả ..."></el-input>
          <br /><br />
          <label>Nội dung gửi user</label>
            <el-input type="textarea" v-model="actionDetail.messageToUser" placeholder="Nội dung gửi user ..."></el-input>
          <br /><br />
          <label>Trạng thái:</label><br />
            <el-select v-model="actionDetail.isActive" placeholder="- Chọn trạng thái -">
                <el-option label="Hoạt động" value="1"></el-option>
                <el-option label="Không hoạt động" value="0"></el-option>
            </el-select>
          <span slot="footer" class="dialog-footer">
          <el-button @click="saveForm()">Lưu</el-button>
        </span>
      </el-dialog>
      </template>
  </div>
</template>

<script>
  import Pagination from '@/components/Pagination';
  
  import Resource from '@/api/resource';
  const actionResource = new Resource('score-management/action');
  const pointTypeResource = new Resource('score-management/point-type');

  import { saveData } from '@/api/score-management-resources';

  export default {
    components: { Pagination },
    data() {
      return {
        dialogVisible: false,
        actionList: [],
        pointTypeLst: [],
        total: 0,
        loading: true,
        actionDetail: {
          id: null, name: '', code: '', pointTypeId: null, effectType: 'POINT_ADD'
          , effectNumber: null, description: '', isActive: '1'
        },
        query: {
          currentPage: 1,
          rowsPerPage: 20,
          sortBy: 'id',
          pointType: null,
          actionName: '',
          actionCode: '',
          effectType: '',
          active: '',
        },
        queryForGetPointTypeLst: {
          isActive: 1
        }
      };
    },

    async created() {
      await this.getPointTypeLst();
      await this.getList();
    },

    methods: {

      filter() {
        if( this.query.effectType === '-1' )
          this.query.effectType = '';
        if( this.query.active === '-1' )
          this.query.active = '';
        this.getList();
      },

      async getPointTypeLst() {
        const { data } = await pointTypeResource.list(this.queryForGetPointTypeLst);
        if( data && data.length > 0 ) {
          this.pointTypeLst = data;
          // Default select vào point mặc định của hệ thống(pointTypeLst đã đc sort ASC ở backEnd, là bản ghi đầu tiên đã được insert khi tạo bảng point_type)
          this.query.pointType = this.pointTypeLst[0].id;
        }
      },

      async getList() {
        this.loading = true;
        const { data, total } = await actionResource.list(this.query);
        if( data && data.length > 0 && total ) {
          this.actionList = data;

          //Xử lý map id với name để show ra danh sách
          this.actionList.forEach(action => {
              this.pointTypeLst.forEach(pointType => {
                if( action.pointTypeId === pointType.id )
                  action.pointTypeName = pointType.description;
              });
          });
          
          this.total = total;
          this.loading = false;
        }else {
          if( this.actionList.length > 0 )
            this.actionList = [];
          this.loading = false;
        }
      },
      
      handleDetail(data) {
        // console.log(data);
        if( data ) { // Fill data into model for update row
          this.actionDetail = data;
          this.actionDetail.isActive = data.isActive + '';
        }else
          this.actionDetail = {
            id: null, name: '', code: '', pointTypeId: null, effectType: 'POINT_ADD'
            , effectNumber: null, description: '', isActive: '1'
          };
        this.dialogVisible = true;
      },
      
      async saveForm() {
        if( this.actionDetail ) {

          if( !this.formValidation() )
            return;

          this.actionDetail.effectNumber = parseInt(this.actionDetail.effectNumber);
          this.actionDetail.isActive = parseInt(this.actionDetail.isActive);
          let res = await saveData('/score-management/action', !this.actionDetail.id?'POST':'PUT', this.actionDetail);
          if( res && res.data === true ) {
            this.dialogVisible = false;
            alert('Thêm/sửa thành công!');
          }else
            alert('Thêm/sửa lỗi!');
        }
      },

      formValidation() {
        let valid = false;
        if( !this.actionDetail.name )
          alert('Chưa nhập tên nhiệm vụ!');
        else if( !this.actionDetail.code )
          alert('Chưa nhập mã nhiệm vụ!');
        else if( !this.actionDetail.pointTypeId )
          alert('Chưa chọn kiểu point!');
        else if( !this.actionDetail.effectType )
          alert('Chưa chọn hành động!');
        else if( !this.actionDetail.effectNumber )
          alert('Chưa nhập số tác động!');
        else if( !this.actionDetail.description )
          alert('Chưa nhập mô tả!');
        else if( !this.actionDetail.messageToUser )
          alert('Chưa nhập nội dung gửi user!');
        else
          valid = true;
        return valid;
      }

    },
  };
</script>

<style lang="scss" scoped>
  .search {
    margin-left: 10px;
  }
  .block {
      display: inline-block;
      float: left;
      margin-right: 5px;
  }  
  .blue {
    color: green;
  }
  .red {
    color: red;
  }
  .add-value {
    text-align: right;
  }
  .list-detail .item{
    margin-bottom: 10px;
    .label {
      display: inline-block;
        width: 100px;
    }
    img {
      max-width: 100%;
      display: inline-block;
    }
  }
  </style>
  <style lang="scss">
  .form-value {
    .el-input__inner {
      margin-bottom: 10px;
    }
  }
  .claim td .el-button {
    margin-left: 0;
  }
  // .filter-container {
  //   display: inline-block;
  // }
</style>
