<template>
  <div class="upload-container">
    <el-upload
      :data="additionalData"
      :multiple="false"
      :show-file-list="false"
      :on-success="handleImageSuccess"
      :before-upload="beforeUpload"
      class="image-uploader"
      drag
      accept="image/png, image/jpeg"
      :action="action"
      :headers="headers"
    >
      <i class="el-icon-paperclip" />
      <div class="el-upload__text" v-if="showText">
        Gửi ảnh
      </div>
    </el-upload>
    <div class="image-preview" v-show="imageUrl.length>1">
      <div class="image-preview-wrapper">
        <img :src="imageUrl">
        <div class="image-preview-action">
          <i class="el-icon-delete" @click="rmImage" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { isLogged } from '@/utils/auth'

export default {
  name: 'SingleImageUpload3',
  props: {
    value: {
      type: String,
      default: '',
    },
    action: {
      type: String,
      default: 'upload/image',
    },
    showText: {
      type: Boolean,
      default: true,
    }
  },
  data() {
    return {
      tempUrl: '',
      additionalData: {},
      headers: {}
    };
  },
  computed: {
    imageUrl() {
      return this.value;
    },
  },
  created() {
    const token = isLogged();
    if (token) {
      this.headers['Authorization'] = 'Bearer ' + token
    }
  },
  methods: {
    rmImage() {
      this.emitInput('');
    },
    emitInput(val) {
      this.$emit('input', val);
    },
    beforeUpload(file) {
      const isJPG = file.type === 'image/jpeg';
      const isPNG = file.type === 'image/png';
      if (!isJPG && !isPNG) {
        this.$message.error('Định dạng file không được chấp nhận, vui lòng chọn ảnh.');
        return false;
      }
      const limit = 5;
      const isLimit =  file.size / 1024 / 1024 <= limit;
      if (!isLimit) {
        this.$message.error('Vui lòng chọn file tối đa ' + limit + 'M.');
        return false;
      }
      return true;
    },
    handleImageSuccess(file) {
      if (file.data) {
        this.emitInput(file.data)
      }
    },
  },
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "~@/styles/mixin.scss";
.upload-container {
  width: 100%;
  position: relative;
  @include clearfix;
  .image-uploader {
    width: 100px;
    text-align: center;
    float: left;
  }
  .image-preview {
    width: 100%;
    height: 150px;
    position: relative;
    float: left;
    .image-preview-wrapper {
      position: relative;
      width: auto;
      height: 150px;
      text-align: center;
      img {
        width: auto;
        height: 150px;
        max-width: 100%;
      }
    }
    .image-preview-action {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      cursor: default;
      text-align: center;
      color: #fff;
      opacity: 0;
      font-size: 20px;
      background-color: rgba(0, 0, 0, .5);
      transition: opacity .3s;
      cursor: pointer;
      text-align: center;
      line-height: 200px;
      .el-icon-delete {
        font-size: 36px;
      }
    }
    &:hover {
      .image-preview-action {
        opacity: 1;
      }
    }
  }
  .image-app-preview {
    width: 320px;
    height: 180px;
    position: relative;
    border: 1px dashed #d9d9d9;
    float: left;
    margin-left: 50px;
    .app-fake-conver {
      height: 44px;
      position: absolute;
      width: 100%; // background: rgba(0, 0, 0, .1);
      text-align: center;
      line-height: 64px;
      color: #fff;
    }
  }
  .el-upload-dragger {
    height: auto !important;
  }
}
</style>
