<template>
  <div class="app-container">
    <div class="filter-container">
      <template>
        <div class="block">
          <el-select v-model="query.status" clearable placeholder="Trạng thái" @change="handleFilter()">
            <el-option v-for="item in listStatus" :key="item.key" :label="item.value" :value="item.key"></el-option>
          </el-select>
        </div>
        <el-button class="search" @click="handleFilter()" type="primary">Tìm kiếm</el-button>
      </template>
    </div>

    <el-row :gutter="40" class="panel-group">
      <el-col :xs="24" :sm="24" :lg="24" class="card-panel-col">
        <div class="card-panel">
          <div class="card-panel-description">
            <div class="card-panel-text">
              Tổng số lỗi
            </div>
            <count-to :start-val="0" :end-val="total" :duration="2600" class="card-panel-num" />
          </div>
        </div>
      </el-col>
    </el-row>

    <el-table v-loading="loading" :data="list" border fit highlight-current-row style="width: 100%">
      <el-table-column align="center" label="STT" width="50">
        <template slot-scope="scope">
          <span>{{ (query.currentPage - 1) * query.rowsPerPage + scope.$index + 1 }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Thời gian" width="200">
        <template slot-scope="scope">
          <span>{{ scope.row.created_at }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Người báo cáo" width="200">
        <template slot-scope="scope">
          <span>{{ scope.row.reporter.name }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Code" width="150">
        <template slot-scope="scope">
          <span>{{ scope.row.reporter.code }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Nội dung" width="750">
        <template slot-scope="scope">
          <span>{{ scope.row.post.content }}</span>
          <div class="title-info">
            <el-tag type="info">
              ID: {{ scope.row.post.id }}
            </el-tag>
          </div>        
        </template>
      </el-table-column>

      <el-table-column align="center" label="Trạng thái" width="150">
        <template slot-scope="scope">
          <span v-if="scope.row.status == 0">
              Chưa xử lý
          </span>
          <span v-else>
              Đã xử lý
          </span>
        </template>
      </el-table-column>

      <el-table-column label="Tác vụ" align="center" width="300">
        <template slot-scope="scope">
          <!-- <el-button type="danger" size="small" v-if="scope.row.status==0">
            <a href="http://localhost:8081/" + 'scope.row.id'>Chi tiết</a>
          </el-button> -->
          <a :href="'http://localhost:8081/' + 'cau-hoi/' + scope.row.post.id" target="_blank">
            <el-button type="primary" size="small" style="margin-right: 10px">Xem chi tiết</el-button>
          </a>
          <el-button type="danger" size="small" v-if="scope.row.status==0" @click="updateStatus(scope.row.id)">Xử lý</el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="total>0" :total="total" :page.sync="query.currentPage" :limit.sync="query.rowsPerPage" @pagination="getList" />
  </div>
</template>

<script>
import Pagination from "@/components/Pagination";
import Resource from "@/api/resource";
import waves from "@/directive/waves"; // Waves directive
import { isLogged } from "@/utils/auth";
import { validString } from '@/utils';
import CountTo from 'vue-count-to';
import readXlsxFile from 'read-excel-file'

const reportResourceApi = new Resource("reports");
export default {
  components: { 
    Pagination,
    CountTo
  },
  directives: { waves },
  data() {
    return {
      list: null,
      total: 0,
      totalVerrify: 0,
      loading: true,
      query: {
        currentPage: 1,
        rowsPerPage: 15,
        sort: "createdAt",
        keyword: '',
        status: '',
      },
      fileList: [],
      listStatus: [
        {
          key: 0,
          value: "Chưa duyệt"
        },
        {
          key: 1,
          value: "Đã duyệt"
        },
      ],
      userDetail: {
        uuid: "",
        skype: "",
        facebook: "",
        address: "",
        birthDay: "",
        gender: "",
      },
      dialogVisible: false,     
      uuid: null,
      listTeacher: null
    };
  },
  created() {
    this.getList();
  },
  computed: {
      // baseUrl() {
      //   console.log(process.env.VUE_APP_BASE_LINK);
      //   return process.env.VUE_APP_BASE_LINK;
      // },
  },
  methods: {
    async getList() {
      this.loading = true;
      const { data, total } = await reportResourceApi.list(this.query);
      this.list = data;
      if (data) {
        this.total = total;
      }
      this.loading = false;
    },
    handleFilter() {
      this.getList();
    },
    detailUser(data, uuid) {
      this.uuid = uuid;
      this.userDetail = data;
      this.dialogVisible = true;
    },
    updateStatus(uuid) {
        reportResourceApi.update(uuid).then(response => {
            if(response.status == 200)
            {
                this.getList();
            }
        })
    },
  },
};
</script>

<style lang="scss" scoped>

.filter-container 
{
  display: flex;
  .search 
  {
    height: 40px;
    margin-right: 30px;
  }
}

.panel-group {
  margin-top: 18px;
  .card-panel-col{
    margin-bottom: 30px;
  }
  .card-panel {
    padding-bottom: 25px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    color: #000;
    background: #fff;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, .05);
    border-color: rgba(0, 0, 0, .05);
    &:hover {
      .card-panel-icon-wrapper {
        color: #fff;
      }
      .icon-people {
         background: #40c9c6;
      }
      .icon-message {
        background: #36a3f7;
      }
      .icon-money {
        background: #f4516c;
      }
      .icon-shopping {
        background: #34bfa3
      }
    }
    .icon-people {
      color: #40c9c6;
    }
    .icon-message {
      color: #36a3f7;
    }
    .icon-money {
      color: #f4516c;
    }
    .icon-shopping {
      color: #34bfa3
    }
    .card-panel-icon-wrapper {
      float: left;
      margin: 14px 0 0 14px;
      padding: 16px;
      transition: all 0.38s ease-out;
      border-radius: 6px;
    }
    .card-panel-icon {
      float: left;
      font-size: 48px;
    }
    .card-panel-description {
      float: left;
      font-weight: bold;
      margin: 25px 0 20px 15px;
      .card-panel-text {
        line-height: 18px;
        color: #000;
        font-size: 16px;
        margin-bottom: 12px;
      }
      .card-panel-num {
        font-size: 20px;
      }
    }
    .card-panel-detail {
      float: left;
      width: 100%;
      padding: 0 15px;
      margin-bottom: 5px;
    }
    .el-tag {
      width: 100% !important;
      text-align: center !important;
    }
  }
}
.no-margin-top {
  margin-top: 0;
}
.search {
  margin-left: 15px;
}
.block {
  display: inline-block;
  //float: left;
  margin-right: 20px;
}
.blue {
  color: green;
}
.red {
  color: red;
}
.add-value {
  text-align: right;
}
.list-detail .item {
  margin-bottom: 10px;
  .label {
    display: inline-block;
    width: 100px;
  }
  img {
    max-width: 100%;
    display: inline-block;
  }
}
</style>
<style lang="scss">
.form-value {
  .el-input__inner {
    margin-bottom: 10px;
  }
}
.claim td .el-button {
  margin-left: 0;
}
</style>
