<template>
  <div class="navbar">
    <hamburger id="hamburger-container" :is-active="sidebar.opened" class="hamburger-container" @toggleClick="toggleSideBar" />

    <breadcrumb id="breadcrumb-container" class="breadcrumb-container" />

    <div class="right-menu">
      <el-dropdown class="avatar-container right-menu-item hover-effect" trigger="click">
        <div class="avatar-wrapper">
          <img :src="avatar" class="user-avatar" v-if="avatar">
          <img src="@/assets/images/avatar_default.jpg" class="user-avatar" v-else>
          <i class="el-icon-caret-bottom" />
        </div>
        <el-dropdown-menu slot="dropdown">
          <router-link to="/">
            <el-dropdown-item>
              {{ $t('navbar.dashboard') }}
            </el-dropdown-item>
          </router-link>
          <span @click="handleChangePass">
            <el-dropdown-item>
              Đổi mật khẩu
            </el-dropdown-item>
          </span>
          <!-- <router-link v-show="userId !== null" :to="`/profile/edit">
            <el-dropdown-item>
              {{ $t('navbar.profile') }}
            </el-dropdown-item>
          </router-link> -->
          <el-dropdown-item divided>
            <span style="display:block;" @click="logout">{{ $t('navbar.logOut') }}</span>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <el-dialog title="Đổi mật khẩu" :visible.sync="changePassVisible" width="50%" :close-on-click-modal="false">
      <el-form ref="changePassForm" :model="newPassword" :rules="rules" label-position="left" label-width="180px">
        <el-form-item label="Mật khẩu hiện tại" prop="curentPassword">
          <el-input placeholder="Nhập mật khẩu hiện tại" v-model="newPassword.curentPassword" show-password max-length="50"></el-input>
        </el-form-item>
        <el-form-item label="Mật khẩu mới" prop="newPassword">
          <el-input placeholder="Nhập mật khẩu mới" v-model="newPassword.newPassword" show-password max-length="50"></el-input>
        </el-form-item> 
        <el-form-item label="Nhập lại mật khẩu mới" prop="rePassword">
          <el-input placeholder="Nhập lại mật khẩu mới" v-model="newPassword.rePassword" show-password max-length="50"></el-input>
        </el-form-item>         
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="changePassVisible = false">Bỏ qua</el-button>
        <el-button type="primary" @click="changePass()">Đồng ý</el-button>
      </div> 
  </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Breadcrumb from '@/components/Breadcrumb';
import Hamburger from '@/components/Hamburger';
import Resource from '@/api/resource';

const passwordResource = new Resource('user/password');

export default {
  components: {
    Breadcrumb,
    Hamburger,
  },
  data() {
    return {
      changePassVisible: false,
      newPassword: {
        curentPassword: '',
        newPassword: '',
        rePassword: ''
      },
      rules: {
        curentPassword: [{ required: true, message: 'Mật khẩu hiện tại bắt buộc nhập', trigger: 'blur' }],
        newPassword: [{ required: true, message: 'Mật khẩu mới bắt buộc nhập', trigger: 'blur' }],
        rePassword: [{ required: true, message: 'Mật khẩu nhập lại bắt buộc nhập', trigger: 'blur' }]
      },
    }
  },
  computed: {
    ...mapGetters([
      'sidebar',
      'name',
      'avatar',
      'device',
      'userId',
    ]),
  },
  methods: {
    toggleSideBar() {
      this.$store.dispatch('app/toggleSideBar');
    },
    async logout() {
      await this.$store.dispatch('user/logout');
      this.$router.push(`/login`);
    },
    handleChangePass() {
      this.newPassword = {
        curentPassword: '',
        newPassword: '',
        rePassword: ''
      }
      this.changePassVisible = true
      this.$nextTick(() => {
        this.$refs['changePassForm'].clearValidate()
      });
    },
    changePass() {
      this.$refs.changePassForm.validate(valid => {
        if (valid) {
          passwordResource.update(this.newPassword)
          .then(response => {
            if (response.status === 200) {
              this.$notify({
                title: "Thành công",
                message: "Đổi mật khẩu thành công.",
                type: "success",
              });
              this.logout()
            }
          })
          .catch(err => {
            console.log(err)
          })
        }
      })
    }
  },
};
</script>

<style lang="scss" scoped>
.navbar {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);

  .hamburger-container {
    line-height: 46px;
    height: 100%;
    float: left;
    cursor: pointer;
    transition: background .3s;
    -webkit-tap-highlight-color:transparent;

    &:hover {
      background: rgba(0, 0, 0, .025)
    }
  }

  .breadcrumb-container {
    float: left;
  }

  .errLog-container {
    display: inline-block;
    vertical-align: top;
  }

  .right-menu {
    float: right;
    height: 100%;
    line-height: 50px;

    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 18px;
      color: #5a5e66;
      vertical-align: text-bottom;

      &.hover-effect {
        cursor: pointer;
        transition: background .3s;

        &:hover {
          background: rgba(0, 0, 0, .025)
        }
      }
    }

    .avatar-container {
      margin-right: 30px;

      .avatar-wrapper {
        margin-top: 5px;
        position: relative;

        .user-avatar {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 4px;
        }

        .el-icon-caret-bottom {
          cursor: pointer;
          position: absolute;
          right: -20px;
          top: 25px;
          font-size: 12px;
        }
      }
    }
  }
}
</style>
