<template>
  <div class="app-container">
    <el-form v-if="user" :model="user">
      <el-row :gutter="20">
        <el-col :span="6">
          <el-card v-if="user">
            <div class="user-profile">
              <div class="user-avatar box-center">
                <pan-thumb :image="user.avatar" :height="'100px'" :width="'100px'" :hoverable="false" v-if="user.avatar" />
                <pan-thumb :image="noAvatar" :height="'100px'" :width="'100px'" :hoverable="false" v-else />
              </div>
              <div class="box-center">
                <div class="user-name text-center">
                  {{ user.fullName }}
                </div>
              </div>
            </div>
          </el-card>
          <el-card class="box-card user-bio">
            <div slot="header" class="clearfix">
              <span>Thông tin</span>
            </div>
            <div class="user-bio-section">
              <div class="user-bio-section-header">
                <span class="label">Email:</span> <span>{{ user.email }}</span>
              </div>
            </div>
            <div class="user-bio-section">
              <div class="user-bio-section-header">
                <span class="label">Ngày sinh:</span> <span>{{ user.dob }}</span>
              </div>
            </div>
            <div class="user-bio-section">
              <div class="user-bio-section-header">
                <span class="label">Mã sinh viên:</span> <span>{{ user.code }}</span>
              </div>
            </div>
            <div class="user-bio-section">
              <div class="user-bio-section-header">
                <span class="label">Giới tính:</span> <span>{{ user.gender | genderFilter }}</span>
              </div>
            </div>
            <div class="user-bio-section">
              <div class="user-bio-section-header">
                <span class="label">Khoa:</span> <span>{{ user.faculty }}</span>
              </div>
            </div>
            <div class="user-bio-section">
              <div class="user-bio-section-header">
                <span class="label">Tỉnh / thành phố:</span> <span>{{ user.city }}</span>
              </div>
            </div>
          </el-card>
        </el-col>
        <el-col :span="18">
          <el-card>
            <el-tabs v-model="activeActivity">
              <el-tab-pane label="Câu hỏi cộng đồng" name="question">
                <div class="user-activity">
                  <div class="post" v-for="question in questions" :key="question.id">
                    <div class="user-block">
                      <span class="description">{{ question.class.name }} - {{ question.faculty.name }} - {{ question.created_at }}</span>
                    </div>
                    <p>
                      <vue-mathjax :formula="question.content" :safe="false"></vue-mathjax>
                    </p>
                  </div>
                  <pagination v-show="totalQuestion>0" :total="totalQuestion" :page.sync="questionQuery.page" :limit.sync="questionQuery.limit" @pagination="getListQuestion" />
                </div>
              </el-tab-pane>
            </el-tabs>
          </el-card>      
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>

<script>
  import Pagination from '@/components/Pagination';
  import Resource from '@/api/resource';
  import PanThumb from '@/components/PanThumb';
  import noAvatar from '@/assets/images/no_user.jpg';

  const userResource = new Resource('cms/user');
  const getQuestionByUser = new Resource('cms/post');

  export default {
    name: 'UserDetail',
    components: {
      Pagination,
      PanThumb
    },
    filters: {
      genderFilter: function(gender) {
        if (gender == 0) return 'Nữ';
        if (gender == 1) return 'Nam';
        return ''
      },
    },
    data() {
      return {
        user: null,
        userDetail: [],
        activeActivity: 'question',
        questions: null,
        totalQuestion: 0,
        questionQuery: {
          page: 1,
          limit: 10,
          user_id: ''
        },
        noAvatar: noAvatar
      }
    },
    computed: {
      id() {
        return this.$route.params && this.$route.params.id;
      }
    },
    created () {
      this.init();
    },
    methods: {
      async init() {
        this.getUser();
        this.getListQuestion();
      },
      getUser() {
        userResource.get(this.id)
        .then(response => {
          if (response.status === 200) {
            this.user = response.data;
            console.log(this.user);
          } else {
            this.$router.push({ path: '/user/list' });
            return false;
          }
        })
        .catch(err => {
          console.log(err);
          this.$router.push({ path: '/user/list' });
          return false;
        })
      },
      async getListQuestion() {
        this.questionQuery.user_id = this.id;
        const { data, total } = await getQuestionByUser.list(this.questionQuery);
        this.questions = data;
        this.totalQuestion = total;
      },
    },
  }
</script>

<style lang="scss" scoped>
.user-profile {
  .user-name {
    font-weight: bold;
  }
  .box-center {
    padding-top: 10px;
  }
  .user-role {
    padding-top: 10px;
    font-weight: 400;
    font-size: 14px;
  }
  .box-social {
    padding-top: 30px;
    .el-table {
      border-top: 1px solid #dfe6ec;
    }
  }
  .user-follow {
    padding-top: 20px;
  }
}
.user-bio {
  margin-top: 20px;
  color: #606266;
  span {
    padding-left: 4px;
  }
  .user-bio-section {
    font-size: 14px;
    padding: 15px 0;
    .user-bio-section-header {
      border-bottom: 1px solid #dfe6ec;
      padding-bottom: 10px;
      margin-bottom: 10px;
      .label {
        font-weight: bold;
      }
    }
  }
}
.user-activity {
  .user-block {
    .username, .description {
      display: block;
      padding: 2px 0;
    }
    img {
      width: 40px;
      height: 40px;
      float: left;
    }
    :after {
      clear: both;
    }
    .img-circle {
      border-radius: 50%;
      border: 2px solid #d2d6de;
      padding: 2px;
    }
    span {
      font-weight: 500;
      font-size: 12px;
    }
  }
  .post {
    font-size: 14px;
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 15px;
    // padding-bottom: 15px;
    color: #666;
    .image {
      width: 100%;
    }
    .user-images {
      padding-top: 20px;
    }
  }
  .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 13px;
    }
    .link-black {
      &:hover, &:focus {
        color: #999;
      }
    }
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }
}
</style>