<template>
  <div class="app-container">
    <div class="filter-container">
      <template>
        <div class="block">
          <el-input v-model="query.keyword" placeholder="Tìm kiếm (mã sinh viên)" @keyup.enter.native="handleFilter()"></el-input>
        </div>
        <div class="block">
          <el-select v-model="query.status" clearable placeholder="Vị trí" @change="handleFilter()">
            <el-option v-for="item in listStatus" :key="item.key" :label="item.value" :value="item.key"></el-option>
          </el-select>
        </div>
        <el-button class="search" @click="handleFilter()" type="primary">Tìm kiếm</el-button>
      <el-button type="primary" @click="dialogVisible = true">Thêm giảng viên</el-button>

      <el-dialog
        title="Thêm giảng viên"
        :visible.sync="dialogVisible"
        width="30%"
        :before-close="handleClose">
        <input type="file" @change="readFileExcel">
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">Hủy</el-button>
          <el-button type="primary" @click="createListUser">Xác nhận</el-button>
        </span>
      </el-dialog>
      </template>
    </div>

    <el-row :gutter="40" class="panel-group">
      <el-col :xs="24" :sm="24" :lg="24" class="card-panel-col">
        <div class="card-panel">
          <div class="card-panel-description">
            <div class="card-panel-text">
              Tổng số người dùng
            </div>
            <count-to :start-val="0" :end-val="total" :duration="2600" class="card-panel-num" />
          </div>
        </div>
      </el-col>
    </el-row>

    <el-table v-loading="loading" :data="list" border fit highlight-current-row style="width: 100%">
      <el-table-column align="center" label="STT" width="50">
        <template slot-scope="scope">
          <span>{{ (query.currentPage - 1) * query.rowsPerPage + scope.$index + 1 }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Avatar" width="80">
        <template slot-scope="scope">
          <span v-if="scope.row.avatar && scope.row.avatar.length">
            <el-image style="max-width: 100%; height: auto" :src="scope.row.avatar" :preview-src-list="[scope.row.avatar]"></el-image>
          </span>
          <span v-else>
            <img style="max-width: 100%; height: auto" src="@/assets/images/no_user.jpg" />
          </span>
        </template>
      </el-table-column>

      <el-table-column label="Email" width="300">
        <template slot-scope="scope">
          <span>{{ scope.row.email }}</span>
          <div class="title-info">
            <el-tag type="info">
              ID: {{ scope.row.id  }}
            </el-tag>
          </div>
        </template>
      </el-table-column>

      <el-table-column label="Họ tên">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Code" width="150">
        <template slot-scope="scope">
          <span>{{ scope.row.code }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Vị trí" width="150" align="center">
        <template slot-scope="scope">
          <span v-if="scope.row.roles['0'] == 2">
            <el-tag effect="dark">Admin</el-tag>
          </span>
          <span v-if="scope.row.roles['0'] == 0">
            <el-tag effect="dark">Sinh viên</el-tag>
          </span>
          <span v-if="scope.row.roles['0'] == 1">
            <el-tag effect="dark">Giáo viên</el-tag>
          </span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Khoa" width="150">
        <template slot-scope="scope">
          <span>{{ scope.row.faculty}}</span>
        </template>
      </el-table-column>

      <!-- <el-table-column align="center" label="Môn" width="150">
        <template slot-scope="scope">
          <span>{{ scope.row.class}}</span>
        </template>
      </el-table-column> -->

      <el-table-column label="Tác vụ" align="center" width="200">
        <template slot-scope="scope">
          <router-link :to="'/user/detail/' + scope.row.id">
            <el-button type="primary" size="small" style="margin-right: 5px;">Chi tiết</el-button>
          </router-link>
          <el-button type="danger" size="small" v-if="scope.row.status==1" @click="changeUserStatus(scope.row.uuid, scope.row.status)">Khóa</el-button>
          <el-button type="danger" size="small" v-if="scope.row.status==-1" @click="changeUserStatus(scope.row.uuid, scope.row.status)">Mở Khóa</el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="query.currentPage" :limit.sync="query.rowsPerPage" @pagination="getList" />
  </div>
</template>

<script>
import Pagination from "@/components/Pagination";
import Resource from "@/api/resource";
import waves from "@/directive/waves"; // Waves directive
import { isLogged } from "@/utils/auth";
import { validString } from '@/utils';
import CountTo from 'vue-count-to';
import readXlsxFile from 'read-excel-file'
const userResource = new Resource("user/list");
const createUserExcelApi = new Resource("user/cms/create");
export default {
  components: { 
    Pagination,
    CountTo
  },
  directives: { waves },
  data() {
    return {
      list: null,
      total: 0,
      totalVerrify: 0,
      loading: true,
      query: {
        currentPage: 1,
        rowsPerPage: 15,
        sort: "createdAt",
        keyword: '',
        status: '',
      },
      fileList: [],
      listStatus: [
        {
          key: 0,
          value: "Sinh Viên"
        },
        {
          key: 1,
          value: "Giảng viên"
        },
        {
          key: 2,
          value: "Admin"
        },
      ],
      listVerify: [
        {
          key: 0,
          label: "Chưa verify"
        },
        {
          key: 1,
          label: "Đã verify"
        },
      ],
      userDetail: {
        uuid: "",
        skype: "",
        facebook: "",
        address: "",
        birthDay: "",
        gender: "",
      },
      dialogVisible: false,     
      uuid: null,
      listTeacher: null
    };
  },
  created() {
    this.getList();
  },
  methods: {
    async getList() {
      this.loading = true;
      const { data, total } = await userResource.list(this.query);
      this.list = data;
      if (data) {
        this.total = total;
      }
      this.loading = false;
    },
    handleFilter() {
      if (validString(this.query.keyword)) {
        this.$message({
          message: 'Từ khóa không được chưa ký tự đặc biệt.',
          type: 'error',
          duration: 5 * 1000,
          showClose: true
        });
        return;
      }
      this.query.keyword = this.query.keyword.trim()
      // this.query.currentPage = 1;
      this.getList();
    },
    detailUser(data, uuid) {
      this.uuid = uuid;
      this.userDetail = data;
      this.dialogVisible = true;
    },
    changeUserStatus(uuid, status) {
      const msg = status == 1 ? 'Bạn có chắc chắn khóa tài khoản ?' : 'Bạn có chắc chắn mở khóa tài khoản ?';
      this.$confirm(msg, 'Cảnh báo', {
        confirmButtonText: 'Đồng ý',
        cancelButtonText: 'Hủy bỏ',
        type: 'warning',
      })
      .then(() => {
        const params = {
          uuid: uuid,
          status: status == 1 ? -1 : 1,
        };
        userStatusResource.update(params)
        .then(response => {
          if (response.status === 200) {
            this.$notify({
              title: "Thành công",
              message: status == 1 ? 'Khóa tài khoản thành công.' : 'Mở khóa tài khoản thành công.',
              type: "success",
            });
            this.getList();
            this.dialogVisible = false;
          }
        })
        .catch((err) => {
          this.$notify({
            title: "Lỗi",
            message: err.response.data.message,
            type: "error"
          });
        });
      })
      .catch(() => {
        console.log('canceled');
      });
    },
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    readFileExcel(e) {
        readXlsxFile(e.target.files[0]).then((rows) => {
          this.listTeacher = rows;
        })
    },
    handleClose(done) {
      this.$confirm('Bạn có chắc chắn muốn đóng?')
        .then(_ => {
          done();
        })
        .catch(_ => {});
    },
    createListUser()
    {
      let param = {
        listTeacher: this.listTeacher
      }
      createUserExcelApi.store(param).then(response => {
        // console.log(response.status);
        if(response.status == 200)
        {
            this.dialogVisible = false;
            this.$notify({
              title: "Thành công",
              message: "Thêm danh sách giáo viên thành công.",
              type: "success",
            });
            this.getList();
        }
      }).catch(error => {
        
      });

    
    }
  },
};
</script>

<style lang="scss" scoped>

.filter-container 
{
  display: flex;
  .search 
  {
    height: 40px;
    margin-right: 30px;
  }
}

.panel-group {
  margin-top: 18px;
  .card-panel-col{
    margin-bottom: 30px;
  }
  .card-panel {
    padding-bottom: 25px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    color: #000;
    background: #fff;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, .05);
    border-color: rgba(0, 0, 0, .05);
    &:hover {
      .card-panel-icon-wrapper {
        color: #fff;
      }
      .icon-people {
         background: #40c9c6;
      }
      .icon-message {
        background: #36a3f7;
      }
      .icon-money {
        background: #f4516c;
      }
      .icon-shopping {
        background: #34bfa3
      }
    }
    .icon-people {
      color: #40c9c6;
    }
    .icon-message {
      color: #36a3f7;
    }
    .icon-money {
      color: #f4516c;
    }
    .icon-shopping {
      color: #34bfa3
    }
    .card-panel-icon-wrapper {
      float: left;
      margin: 14px 0 0 14px;
      padding: 16px;
      transition: all 0.38s ease-out;
      border-radius: 6px;
    }
    .card-panel-icon {
      float: left;
      font-size: 48px;
    }
    .card-panel-description {
      float: left;
      font-weight: bold;
      margin: 25px 0 20px 15px;
      .card-panel-text {
        line-height: 18px;
        color: #000;
        font-size: 16px;
        margin-bottom: 12px;
      }
      .card-panel-num {
        font-size: 20px;
      }
    }
    .card-panel-detail {
      float: left;
      width: 100%;
      padding: 0 15px;
      margin-bottom: 5px;
    }
    .el-tag {
      width: 100% !important;
      text-align: center !important;
    }
  }
}
.no-margin-top {
  margin-top: 0;
}
.search {
  margin-left: 15px;
}
.block {
  display: inline-block;
  //float: left;
  margin-right: 20px;
}
.blue {
  color: green;
}
.red {
  color: red;
}
.add-value {
  text-align: right;
}
.list-detail .item {
  margin-bottom: 10px;
  .label {
    display: inline-block;
    width: 100px;
  }
  img {
    max-width: 100%;
    display: inline-block;
  }
}
</style>
<style lang="scss">
.form-value {
  .el-input__inner {
    margin-bottom: 10px;
  }
}
.claim td .el-button {
  margin-left: 0;
}
</style>
